<div class="wrapper">
	<div class="sidebar" data-color="purple" data-image="./dist/assets/img/sidebar-5.jpg">
		<div class="sidebar-wrapper">
			<div class="logo">
				<a href="http://www.creative-tim.com" class="simple-text">
					Creative Tim
				</a>
			</div>

			<ul class="nav">
				<li class="active">
					<a [routerLink]="['/dashboard']">
						<i class="pe-7s-graph"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="pe-7s-user"></i>
						<p>User Profile</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="pe-7s-note2"></i>
						<p>Table List</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="pe-7s-news-paper"></i>
						<p>Typography</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="pe-7s-science"></i>
						<p>Icons</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="pe-7s-map-marker"></i>
						<p>Maps</p>
					</a>
				</li>
				<li>
					<a href="notifications.html">
						<i class="pe-7s-bell"></i>
						<p>Notifications</p>
					</a>
				</li>
				<li class="active-pro">
					<a href="#">
						<i class="fa fa-cog"></i>
						<p>Setting</p>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" [routerLink]="['/dashboard']">Dashboard</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a [routerLink]="['/dashboard']" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Dashboard</p>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-globe"></i>
								<b class="caret hidden-sm hidden-xs"></b>
								<span class="notification hidden-sm hidden-xs">5</span>
								<p class="hidden-lg hidden-md">
									5 Notifications
									<b class="caret"></b>
								</p>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Notification 1</a></li>
								<li><a href="#">Notification 2</a></li>
								<li><a href="#">Notification 3</a></li>
								<li><a href="#">Notification 4</a></li>
								<li><a href="#">Another notification</a></li>
							</ul>
						</li>
						<li>
							<a href="">
								<i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
							</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a [routerLink]="['/profile']">
								<p>Profile</p>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<p>
									Dropdown
									<b class="caret"></b>
								</p>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
						<li>
							<a style="cursor: pointer;" (click)="logout()" >
								<p>Log out</p>
							</a>
						</li>
						<li class="separator hidden-lg hidden-md"></li>
					</ul>
				</div>
			</div>
		</nav>


		<div class="content">
			<div class="container-fluid">
				<div class="row">

					<div class="col-xs-12">
						<div class="card">
                            <!-- <div class="header">
                                <h4 class="title">Account</h4>
                            </div> -->
                            <div class="account row">
                            	<div class="col-md-4">
                            		<div class="img_avatar">
                            			<img class="img-thumbnail img-circle" src="./dist/assets/images/avt.png">
                            		</div>
                            		<div class="account_inf">
                            			<h3>{{user.username}}</h3>
                            		</div>
                            	</div>
                            	<div class="col-md-8">
                            		<form class="signupForm" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate style="width: 50%;">
                            			<h3>Register</h3>
                            			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            				<label class="sr-only" for="username">Username</label>
                            				<div class="input-group">
                            					<div class="input-group-addon"><span class="fa fa-user-o"></span></div>
                            					<input type="text" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="user.username" #username="ngModel" required disabled>
                            				</div>
                            				<div *ngIf="f.submitted && !username.valid" class="help-block" >Username is required</div>
                            			</div>
                            			<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            				<label class="sr-only" for="password">Password</label>
                            				<div class="input-group">
                            					<div class="input-group-addon"><span class="fa fa-key"></span></div>
                            					<input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
                            				</div>
                            				<div *ngIf="f.submitted && !password.valid" class="help-block" >Password is required</div>
                            			</div>
                            			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !re_password.valid && (user.password !== user.re_password)}">
                            				<label class="sr-only" for="re_password">Re-Password</label>
                            				<div class="input-group">
                            					<div class="input-group-addon"><span class="fa fa-refresh"></span></div>
                            					<input type="password" class="form-control" id="re_password" placeholder="Re-Password" name="re_password" (blur)="onBlurMethod()" [(ngModel)]="user.re_password" #re_password="ngModel" required>
                            				</div>
                            				<div *ngIf="f.submitted && !re_password.valid" class="help-block" style="color: #a94442;">Re-Password is required</div>
                            				<div *ngIf="!forgot_pass" class="help-block" style="color: #a94442;">Re-Password do not equals!</div>
                            			</div> -->
                            			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                            				<label class="sr-only" for="email">Email</label>
                            				<div class="input-group">
                            					<div class="input-group-addon"><span class="fa fa-envelope-o"></span></div>
                            					<input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" required>
                            				</div>
                            				<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                            			</div>
                            			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
                            				<label class="sr-only" for="phone">Phone Number</label>
                            				<div class="input-group">
                            					<div class="input-group-addon"><span class="fa fa-phone"></span></div>
                            					<input type="number" class="form-control" id="phone" placeholder="Phone Number" name="phone" [(ngModel)]="user.phone" #phone="ngModel" >
                            				</div>
                            				<div *ngIf="f.submitted && !username.valid" class="help-block" style="color: #a94442;">Phone number is required</div>
                            			</div>
                            			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
                            				<label class="sr-only" for="city">City</label>
                            				<div class="input-group">
                            					<div class="input-group-addon"><span class="fa fa-map-marker"></span></div>
                            					<input type="text" class="form-control" id="city" placeholder="City" name="city" [(ngModel)]="user.city" #city="ngModel" >
                            				</div>
                            				<div *ngIf="f.submitted && !username.valid" class="help-block" style="color: #a94442;" >City is required</div>
                            			</div>
                            			<div class="form-group">
                            				<div class="input-group">
                            					<div class="input-group-addon"><span class="fa fa-snowflake-o"></span></div>
                            					<!-- <input type="text" class="form-control" id="city" placeholder="City" name="city" [(ngModel)]="user.city" #city="ngModel" > -->
                            					<select class="form-control" [(ngModel)]="user.type_account" [ngModelOptions]="{standalone: true}">
                            						<option value="paid">Paid</option>
                            						<option value="referral">Referral</option>
                            					</select>
                            				</div>
                            			</div>
                            			<div class="form-group" style="text-align: center;">
                            				<a class="btn btn-primary loginBtn">Change</a>
                            			</div>
                            		</form>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
        	<div class="container-fluid">
        		<nav class="pull-left">
        			<ul>
        				<li>
        					<a href="#">
        						Home
        					</a>
        				</li>
        				<li>
        					<a href="#">
        						Company
        					</a>
        				</li>
        				<li>
        					<a href="#">
        						Portfolio
        					</a>
        				</li>
        				<li>
        					<a href="#">
        						Blog
        					</a>
        				</li>
        			</ul>
        		</nav>
        		<p class="copyright pull-right">&copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
        		</p>
        	</div>
        </footer>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		demo.initChartist();

		$.notify({
			icon: 'pe-7s-gift',
			message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

		},{
			type: 'info',
			timer: 4000
		});

	});
</script>

