.box_anw{
	overflow: hidden;
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 4px;
}
.sidebar-wrapper {
    background: rgba(255, 77, 77, 0.92);
}


/* responsive */

@media (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	
}
@media (max-width: 767px) {
	
}
@media (max-width: 625px) {
	
}
@media (max-width: 480px) {

}
@media (max-width: 350px) {

}